# Pandas Series

In [47]:
# A Pandas Series is like a column in a table. It is a 1-D array holding data of any type

In [12]:
import pandas as pd
import numpy as np  # jab aap pandas import karoge tho numpy bhi import kar lo becasue numpy ke upar he pandas bana hai

# series from list

In [13]:
# string 

country  = ['India','Pakistan','USA','Nepal','Srilanka']

pd.Series(country) # ab ismay Series a class hai pandas library may

0       India
1    Pakistan
2         USA
3       Nepal
4    Srilanka
dtype: object

In [14]:
# jab aap series banawoge tho 2 things hoti hai Index and Values ---- Index =  0,1,2......, Values = India, pakistan....

# aur dtype object hai -- tho 99%  times object string hota hai in pandas

In [15]:
# integer

runs = [13,54,12,1,14]

pd.Series(runs)

0    13
1    54
2    12
3     1
4    14
dtype: int64

In [16]:
# custom index 
marks = [85,60,90,100]
subject = ["Maths","English","science","Hindi"]

pd.Series(marks) # tho abhi ismay abhi index 0,1..... tho ap isko change bhi karsakte ho

0     85
1     60
2     90
3    100
dtype: int64

In [17]:
pd.Series(marks, index=subject)

Maths       85
English     60
science     90
Hindi      100
dtype: int64

In [18]:
# setting name 
# name dene ka ye fayeda hai ki aap future may ye object ko use kar sakte ho

marks = pd.Series(marks, index=subject, name = "satish ke marks")

marks

Maths       85
English     60
science     90
Hindi      100
Name: satish ke marks, dtype: int64

# Series from Dict

In [19]:
marks = {
    "maths":80,
    "English":69,
    "Biology":100,
    "Marathi":90
}

marks_series = pd.Series(marks, name= "shashi ke marks")
marks_series

maths       80
English     69
Biology    100
Marathi     90
Name: shashi ke marks, dtype: int64

In [9]:
# agar aap ko oops yaad ho tho ( first lets relate yenha pay Series ye class hai and marks_series ye object hai tho 
# marks_series object sab attributes ko call kar sakta hai

# Series Attribute

In [20]:
# Size

marks_series.size # ye bataata hai ki kitana element hai

4

In [21]:
# dtype
marks_series.dtype

dtype('int64')

In [22]:
# name
marks_series.name

'shashi ke marks'

In [23]:
# is_unique
marks_series.is_unique # if there is unique value it will give True

True

In [24]:
# index 

marks_series.index  # ye aap ko sab index value nial ke dedega

Index(['maths', 'English', 'Biology', 'Marathi'], dtype='object')

In [25]:
# values

marks_series.values

array([ 80,  69, 100,  90], dtype=int64)

# series using read_csv

In [26]:
# with one column 

pd.read_csv('D:\Github all files\subs.csv') # ye jab data read kar ke lata hai tho data frame ke form may lata hai jaise ki
                                            # ki aap dek sakte hai

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [27]:
# chalo iska data type check karte hai
type(pd.read_csv('D:\Github all files\subs.csv')) # dekho niche Data type Dataframe likh ke araha hai tho abhi hame serie
                                                 # convert karna hai

pandas.core.frame.DataFrame

In [28]:
# chalo isko series may convert karte hai easy hai squeeze bol ke parameter hai usko True karna hai

subs =pd.read_csv('D:\Github all files\subs.csv').squeeze()

In [29]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [30]:
vk = pd.read_csv('D:\Github all files\kohli_ipl.csv',index_col= 'match_no').squeeze()

In [31]:
movies = pd.read_csv('D:/Github all files/bollywood.csv',index_col= 'movie').squeeze()

movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

# series method

In [32]:
# head and tail
subs.tail()

360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, dtype: int64

In [33]:
vk.head(2)

match_no
1     1
2    23
Name: runs, dtype: int64

In [34]:
# sample
movies.sample()   # ye data se koi bhi ak row nikal ke deikha dega

movie
Dil Pardesi Ho Gayaa    Kapil Jhaveri
Name: lead, dtype: object

In [35]:
movies.sample(5)

movie
Airlift (film)                      Akshay Kumar
Bhoomi (film)                        Sunny Leone
Krazzy 4                             Juhi Chawla
Antardwand                   Raj Singh Chaudhary
Kaashi in Search of Ganga        Aishwarya Devan
Name: lead, dtype: object

In [36]:
movies.value_counts() # ye decending order may dikha dega

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [37]:
# sort value

vk.sort_values() # by default ye ascending may dikhata hai

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [38]:
# chalo isko descending may karte hai
vk.sort_values(ascending= False) # sort value temporary change karta hai

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [39]:
# sort_index (ye index ke saath sort karta hai)
movies.sort_index(inplace= True)

movies

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

# series maths methods

In [40]:
# count 
# virat ne kitana match khele abhi yenha pay ye note karne wali baat hai count and size fuction may kya different hai
# size missing value ko bhi count karta hai and count missing value ko count nahi karta
vk.count()

215

In [41]:
# sum
subs.sum()  # ye sab value ko sum karde raha hai

49510

In [42]:
# mean - median - mode - std - var

subs.mean()

135.64383561643837

In [43]:
#median
print(vk.median())

24.0

In [44]:
# mode

movies.mode() # 0 is here index value

0    Akshay Kumar
Name: lead, dtype: object

In [45]:
# std
vk.std()

26.22980132830278

In [46]:
# variance
vk.var()

688.0024777222343

In [47]:
# describe
vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

# series Indexing

In [48]:
x = pd.Series([12,13,14,15,16])
x[0]

12

In [49]:
x[-1] # series postive indexing pay kaam karta hai negativty pay nahi niche error ara hai

KeyError: -1

In [50]:
# slicing 

vk[5:16]  # silicing may multiple item

match_no
6      9
7     34
8      0
9     21
10     3
11    10
12    38
13     3
14    11
15    50
16     2
Name: runs, dtype: int64

In [51]:
# negative slicing

vk[-5:]

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [52]:
# fancy indexing

vk[[1,4,11]]

match_no
1      1
4     12
11    10
Name: runs, dtype: int64

# Editing Series

In [53]:
# abhi hum series may edit kaise kar sakte hai wo dekhenge

In [54]:
# using indexing
marks_series

maths       80
English     69
Biology    100
Marathi     90
Name: shashi ke marks, dtype: int64

In [55]:
# chalo index ke helps se value change karte hai 

marks_series[2] = 50

In [56]:
marks_series  # abhi dekho Biology pahele 100 tha but abhi edit ke baad 50 hogaya hai

maths      80
English    69
Biology    50
Marathi    90
Name: shashi ke marks, dtype: int64

In [57]:
# what if an index does not exist
marks_series["history"] = 60

In [58]:
marks_series  # abhi yenha ye note karne wali baat hai ki index may history tha he nahi but upar wala code likhane se 
              # history index add hogaya and value 50 agaya , basically you can add with heplp of that code

maths      80
English    69
Biology    50
Marathi    90
history    60
Name: shashi ke marks, dtype: int64

# series with python functionalities

In [69]:
# len/type

print(len(subs))
print(type(subs))
print(dir(subs))  # dir ke andar kitana attributes hai and kitana method hai
print(sorted(subs), end= '\n') # jitana bhi value rahega usko sort kar dega
print(min(subs), end='\n ')
print(max(subs))

365
<class 'pandas.core.series.Series'>
['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_examples_doc', '_agg_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_binop', '_cacher', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_expanddim', '_convert_dtypes', '_data', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_flags', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_item_cache', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_mgr', '_min_count_stat_function', '_name', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_references', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take', '_take_with_is_copy', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']
[33, 33, 35, 37, 39, 40, 40, 40, 40, 42, 42, 43, 44, 44, 44, 45, 46, 46, 48, 49, 49, 49, 49, 50, 50, 50, 51, 54, 56, 56, 56, 56, 57, 61, 62, 64, 65, 65, 66, 66, 66, 66, 67, 68, 70, 70, 70, 71, 71, 72, 72, 72, 72, 72, 73, 74, 74, 75, 76, 76, 76, 76, 77, 77, 78, 78, 78, 79, 79, 80, 80, 80, 81, 81, 82, 82, 83, 83, 83, 84, 84, 84, 85, 86, 86, 86, 87, 87, 87, 87, 88, 88, 88, 88, 88, 89, 89, 89, 90, 90, 90, 90, 91, 92, 92, 92, 93, 93, 93, 93, 95, 95, 96, 96, 96, 96, 97, 97, 98, 98, 99, 99, 100, 100, 100, 101, 101, 101, 102, 102, 103, 103, 104, 104, 104, 105, 105, 105, 105, 105, 105, 105, 105, 105, 108, 108, 108, 108, 108, 108, 109, 109, 110, 110, 110, 111, 111, 112, 113, 113, 113, 114, 114, 114, 114, 115, 115, 115, 115, 117, 117, 117, 118, 118, 119, 119, 119, 119, 120, 122, 123, 123, 123, 123, 123, 124, 125, 126, 127, 128, 128, 129, 130, 131, 131, 132, 132, 134, 134, 134, 135, 135, 136, 136, 136, 137, 138, 138, 138, 139, 140, 144, 145, 146, 146, 146, 146, 147, 149, 150, 150, 150, 150, 151, 152, 152, 152, 153, 153, 153, 154, 154, 154, 155, 155, 156, 156, 156, 156, 157, 157, 157, 157, 158, 158, 159, 159, 160, 160, 160, 160, 162, 164, 166, 167, 167, 168, 170, 170, 170, 170, 171, 172, 172, 173, 173, 173, 174, 174, 175, 175, 176, 176, 177, 178, 179, 179, 180, 180, 180, 182, 183, 183, 183, 184, 184, 184, 185, 185, 185, 185, 186, 186, 186, 188, 189, 190, 190, 192, 192, 192, 196, 196, 196, 197, 197, 202, 202, 202, 203, 204, 206, 207, 209, 210, 210, 211, 212, 213, 214, 216, 219, 220, 221, 221, 222, 222, 224, 225, 225, 226, 227, 228, 229, 230, 231, 233, 236, 236, 237, 241, 243, 244, 245, 247, 249, 254, 254, 258, 259, 259, 261, 261, 265, 267, 268, 269, 276, 276, 290, 295, 301, 306, 312, 396]
33
 396

In [70]:
# type conversion
list(marks_series) # isko list may convert kar sakte hai

[80, 69, 50, 90, 60]

In [71]:
dict(marks_series) # isko dictionary bhi convert kar sakte hai

{'maths': 80, 'English': 69, 'Biology': 50, 'Marathi': 90, 'history': 60}

In [73]:
# membership operator

'1971 (2007 film)' in movies # ye index may kaam karta hai agar value dal ke dekhate tho false ataa jaise aap niche dekh
                            # sakte hai

True

In [75]:
'Manoj Bajpayee' in movies

False

In [76]:
# value ko dekhane ki liye value attributes call karna padega

'Manoj Bajpayee' in movies.values

True